body {
  margin: 0;
  display: flex;
  flex-direction: column;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

canvas {
    cursor: crosshair;
}

#score {
  position: relative;
  top: 30px;
  right: 350px;
  
}